{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pagina de Loguin</title>
	<link rel="stylesheet" href="{% static 'css/estilo.css'%}">
</head>
<body>
	<div class="container">
		<!-- <section class="titulo">
			<figure>
				<img src="{%  static 'imagens/logo.jpg'%}">
			 <figcaption>Aproveite agora e conecte-se compartilhando momentos inesquecíveis com pessoas que fazem parte da sua vida.</figcaption> 
				
			</figure>
		</section> -->

		<div class="conta-coll-6">
			<section class="login">
				<form>
					<h1>Login</h1>
					<p>
						<input type="text" placeholder="Email ou Telefone">
					</p>
					<p>
						<input type="password" placeholder="Senha">
					</p>
					<p>
						<button id="btentrar">Entrar</button>
					</p>
					<p>
						<a href="" id="esqueci">Esqueceu a senha?</a>
					</p>
					<p>
						<button id="btcriarconta" href="{% url 'cadastro.html' %}">Cadastrar</button>
				</p>
				</form>
			</section>
			<p id="pagina">Seja Bem-vindo a nossa empresa, Barbearia 2022.</p>
		</div>
	</div>
</body>
</html>